

.home-page{
    display:flex;
    flex-direction: row;
    background-color: #363636;
    color:white;
    font-family:'Courier New', Courier, monospace;

}


.sidebar {
    
   
    width:20%;
    border-right: 1px solid black;
    height:100vh;
    background-color: #171717;
    
}

.main-content {
    max-width: 100%;
    display:flex;
    justify-content: center;
    
    
}



.sidebar h1 {
    color: orangered;
    margin:10%;
}


.box {
    border: 1px solid red;
    width: 90%;
    height: 100px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 20px;
    

}

.heading {
    font-size: xx-medium;
    font-family: 'Courier New', Courier, monospace;
    color:red;
}

.sidebar Button{
        margin: 10%;
        overflow: hidden;
        text-align: center;
        width: 80%;
        height: 40px;
        border-color: black;
        color:white;
        font-family: 'Courier New', Courier, monospace;
        
}




@media screen and (max-width:850px) {
    .home-page {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width:100vw;
        height:100vh;
        border:1px solid black;
    }

    .sidebar {
        display: flex;
        width: 100vw;
        height: 20%;
        padding: 0;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items:center;
    }

    .main-content {
        max-width: 80vw;
        margin:10px;
        margin-right:30px;
        
        justify-content: center;
        align-items: center;
    }



    .sidebar h1 {
        color: orangered;
        margin: 10px;
    }


   

    .heading {
        font-size: xx-large;
    }

    .sidebar Button {
        margin: 100px;
        overflow: hidden;
        text-align: center;
        width: 90px;
        height: 30px;
        border-color: black;
        color: black;

    }





    .main-content {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }



    


    .box {
        border: 1px solid red;
        width: 80vw;
        height:fit-content;
        
        margin: 0 auto;
        border-radius: 10px;
        padding: 20px;

    }

    .heading {
        font-size: xx-large;
    }

    .sidebar Button {
        margin: 10px;
        overflow: hidden;
        text-align: center;
        width: 150px;
        height: 40px;
        border-color: black;
        color: black;

    }





}
@media screen and (max-width:600px) {
    .box {
        width: 60%;
        height: fit-content;

        font-size: small;
        padding: 10px;

        margin: 0 auto;
    }

    .sidebar {
        height: 15%;
        display:flex;
        justify-content: center;
        align-items:center;
    }
    .sidebar h1{
        margin:5px;
    }

    .sidebar Button {
        margin: 10px;
        overflow: hidden;
        text-align: center;
        width: 90px;
        height: 30px;
        border-color: black;
        color: black;

    }


}
@media screen and (max-width:450px){
        .box {
                width: 60%;
                height:fit-content;
                
                font-size:small;
                padding:10px;

                margin:0 auto;
            }
        .sidebar{
                height:15vh;
        }
        .sidebar Button {
                margin: 10px;
                overflow: hidden;
                text-align: center;
                width: 90px;
                height: 30px;
                border-color: black;
                color: black;
            
         }



}




