.search-bar {
  display:block;
  width:100%;
  margin:5%;
}

.search-bar input[type="text"]{
  width:80%;
  height:40px;
}

.search-bar button{
  width:15%;
  height:45px;
}

@media screen and (max-width:700px){
  .search-bar {
      display: block;
      width: 100%;
      margin: 50px;
    }
  
    .search-bar input[type="text"] {
      width: 60vw;
      height: 40px;
      margin-left:20px;
      
    }
  
    .search-bar button {
      width: 20vw;
      height: 45px;
    }
}